backend/MixERP.Api/Services/.DS_Store
*.dll
backend/MixERP.Api/bin/
backend/MixERP.Api/obj/
node_modules/
backend/MixERP.Domain/obj/
backend/MixERP.Infrastructure/obj/Debug/
backend/MixERP.Infrastructure/bin
backend/MixERP.Infrastructure/obj/
backend/MixERP.Domain/bin/
dev_down.sh
dev_up.sh
schema/.DS_Store
